[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
"bs4" = "*"
lxml = "*"
cssselect = "*"
coloredlogs = "*"

[dev-packages]
vcrpy = "*"
sure = "*"
nose = "*"
rednose = "*"
nose-watch = "*"
ipdb = "*"
berlin-bike-watch = {editable = true, path = "."}
coverage = "*"

[requires]
python_version = "3.7"
